@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

/*------------------------Scroll Bar-----------------------*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(64, 55, 55);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fde65e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/*========================Nav Bar=========================*/
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-color: #f7ea55;
  box-shadow: 3px 3px 10px #1c4f82;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  z-index: 1;
  padding: 0 20px;
}

.logo {
  font-size: 50px;
  padding: 10px 20px;
  font-family: Satisfy;
}

.nav-bar .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar .menu li {
  padding: 10px;
}

.nav-bar .menu a {
  color: #010000;
  text-decoration: none;
}

/* Hamburger Icon Styles */
.nav-bar .hamburger {
  display: none; /* Hidden by default */
  font-size: 24px;
  color: #050504;
  cursor: pointer;
  align-self:flex-start ;
background-color: #f7e246;
  z-index: 2; /* Ensure it's above the menu */
}

ul.menu {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  font-size: 20px;
  font-family: "Barlow Condensed";
}

.menu li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.menu li a:hover {
  color: rgb(239, 239, 246);
  text-decoration: underline;
  background-color: rgb(26, 25, 25);
  padding: 2px;
}

/*========================Media Queries=========================*/
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #f7ea55;
    position: absolute;
    top: 100px;
    left: 0;
    box-shadow: 3px 3px 10px #1c4f82;
  }

  .menu li {
    width: 100%;
    padding: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .menu-active {
    display: flex;
  }
}

/*=============================Banner=============================*/
.banner {
  background-image: url('https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dHJhdmVsJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text-item {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading h1 {
  font-size: 80px;
  font-weight: 200;
  color: #f5eb28;
  font-family: Satisfy;
}

.banner-text-item .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 70%;
  padding: 1% 2%;
}

.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book {
  padding: 15px;
  margin-right: 10px;
  font-size: 18px;
  font-family: Roboto;
  border-radius: 5px;
  outline: 0;
  border: none;
}

.banner-text-item input {
  width: 50%;
  flex: 2;
}

.banner-text-item .date {
  width: 20%;
  flex: 1;
}

.banner-text-item .book {
  width: 20%;
  flex: 1;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  background-color: #fde02f;
  font-size: 16px;
  font-family: "Barlow Condensed";
}

/*===========================Services===========================*/
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text h1 {
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

.service-item {
  flex: 1;
  padding: 50px 10px;
  border: rgb(179, 247, 247) solid 1px;
  text-align: center;
  margin: 100px 50px;
  transition: all 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-item:hover {
  box-shadow: 3px 3px 20px lightsteelblue;
}

.service-item h2 {
  font-family: Barlow Condensed;
  font-size: 18px;
  width: 120px;
  color: #001f38;
  flex: 1;
}

.service-item img {
  width: 100px;
  height: 90px;
}

/*===============Footer===================*/
.footer {
  background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293781/pine-tree_mq2sgp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 670px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 36, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer .links {
  position: relative;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links ul {
  list-style-type: none;
}

.links h3 {
  font-family: Barlow Condensed;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 15px;
}

.links li {
  font-family: Roboto;
  cursor: pointer;
  padding: 15px 0;
}

.links li:hover {
  color: #ffa801;
}

/*===============Places===================*/
.places-text {
  text-align: center;
  margin-bottom: 50px;
}

.places-text small {
  font-family: Roboto;
  color: #ffc342;
  font-size: 15px;
  font-weight: bolder;
}

.places-text h2 {
  font-family: Barlow Condensed;
  font-size: 55px;
  color: #191d34;
  letter-spacing: 1px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.card {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.card img {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.cards .text {
  padding: 20px;
  font-family: Barlow Condensed;
  line-height: 50px;
}

.cards .card-box {
  display: flex;
  background-color: #fde02f;
  font-size: 18px;
  font-family: Roboto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cards .time {
  flex: 1;
}

.cards .location {
  flex: 2;
}

.cards .cost {
  color: #4cafad;
  font-size: 20px;
}
.zoom-img {
  float: left;
  position: relative;
  width: 100%;
  height: 320px;
  height: 320px;
  overflow: hidden;
}

.zoom-img .img-card {
  position: absolute;
  overflow: hidden;
}

.img-card img {
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
.card:hover .zoom-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*===============Contact Us*/

h1 {
  color: rgb(254, 249, 254);
}

.btn {
  background-color: light-green;
  padding: 12px 16px;
  font-size: 16px;
}

.btn:hover {
  background-color: rgba(105, 99, 107, 0.605);
}
.contact{
  background-image: url(https://e0.pxfuel.com/wallpapers/149/259/desktop-wallpaper-web-development.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
/*overflow: hidden;*/
width: 100%;
height: 100vh;
text-align: center;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
/*---about us--*/
.about{
  background: url(https://images.hindustantimes.com/img/2022/12/12/1600x900/mesut-kaya-eOcyhe5-9sQ-unsplash_1670855635977_1670855667547_1670855667547.jpg) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}
.inner-section{
  width: 55%;
  float: right;
  background-color: #d39393;
  padding: 140px;
  box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}


/*===============Media Queries for Contact Us Section===================*/
@media (max-width: 768px) {
  .contact input,
  .contact textarea {
    width: 100%;
  }
}

/*===============Global Media Queries===================*/
@media (max-width: 1200px) {
  .banner-text-item {
    padding: 0 10%;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .service-item {
    margin: 50px 20px;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .logo {
    font-size: 40px;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .service-item {
    margin: 50px 0;
  }
}

@media (max-width: 576px) {
  .banner-heading h1 {
    font-size: 50px;
  }

  .banner-text-item .form {
    width: 90%;
  }

  .banner-text-item input {
    width: 100%;
    margin-bottom: 10px;
  }

  .banner-text-item .date,
  .banner-text-item .book {
    width: 100%;
  }

  .footer {
    height: auto;
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .nav-bar .menu {
      display: none;
      flex-direction: column;
      background-color: #fced41;
      color: black;
      width: 100%;
      position: absolute;
      top: 80px; /* Adjust based on the height of the navbar */
      left: 0;
      z-index: 1; /* Behind the hamburger icon */
  }

  .nav-bar .menu.active {
      display: flex;
  }

  .nav-bar .hamburger {
      display: block; /* Show hamburger icon in mobile view */
  }
}
@media (max-width: 480px) {
  .about {
    padding: 40px 0;
  }

  .inner-section {
    width: 100%;
    padding: 15px;
  }

  .inner-section h1 {
    font-size: 20px;
  }

  .text {
    font-size: 11px;
  }
}